version = 0.2
[default]
[default.deploy]
[default.deploy.parameters]
stack_name = "covenants-fake-ocr"
s3_bucket = "XXXX"
s3_prefix = "covenants-fake-ocr"
region = "XXXX"
capabilities = "CAPABILITY_IAM"
image_repositories = []
